*{
    font-family: Garamond;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main>*, article, aside{
    border: 2px solid rgb(0,136,204);
    border-radius: 5px;
   
}

header, aside, article, footer {
    background-color: rgb(0,191,255);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 5px;
}

section {
    border: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "article aside";
    gap: 10px;
}

header {
    text-align: center;
    color: white;
}

header>h1 {
    padding: 30px;
    font-size: 300%;
}

nav {
    padding: 15px;
    background-color: rgb(0,130,255);
}

nav>a {
    text-decoration: none;
    color: yellow;
    font-size: 125%;
    font-weight: bold;
    padding: 30px;
}

footer {
    text-align: center;
    color: white;
    padding: 10px;
}

ol>li {
    padding-top: 3px ;
    margin-left: 30px;
}
aside>h3 {
    padding: 15px;
    padding-left: 10px;
}

nav>a:hover {
    background-color: rgb(0,191,255);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

article>img {
    width: 97%;
    height: height;
    border-radius: 5px;
    margin: 5px;
}